body {background-image:url(https://imgur.com/dXMjG31.jpg);background-size:cover;font-size: x-large;}
h1 {color:red;text-align: center;}
p {font-size: 20px;color: white;}
ul {font-size: 20px;list-style: none; color: blue;}